.close-button, .arrow-left, .arrow-right{
  color: ivory;
}
.thumbnails-container img {
  display: inline;
  max-width: 20%;
  max-height: 25%;
  margin: 10px;
  padding: 10px;
}
.full-height-parent {
  height: 100%;
}
.full-overlay {
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
}
.full-image-ctr {
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.full-image-block{
  width: 80%;
  display: inline-block;
  text-align: center;
}
.close-button {
  font-size: 50px;
  text-align: right;
  clear:both;
  padding: 10px;
}
.arrow-left {
  width: 5%;
  font-size: 100px;
  display: inline-block;
}
.arrow-right {
  width: 5%;
  font-size: 100px;
  display: inline-block;
}
.relative {
  position: relative;
}
.valign-mid {
  vertical-align: middle;
}

